<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control Slider con Video</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket;
        window.onload = function () {
            // Conectar con el servidor Flask usando WebSocket
            socket = io.connect('http://' + document.domain + ':' + location.port);

            // Función que se llama cuando el valor del slider cambia
            document.getElementById('slider').oninput = function() {
                var sliderValue = document.getElementById('slider').value;
                // Enviar el valor del slider al servidor
                socket.emit('slider_value', {value: sliderValue});
            };
        };
    </script>
</head>
<body>
    <h2>Control Slider con Video</h2>
    <input type="range" id="slider" min="0" max="100" value="50">
    <br>
    <h3>Video Stream</h3>
     <div class="container">
        <!-- Video Feed -->
        <img src="{{ url_for('video_feed') }}" alt="Video Feed">

        <!-- Sliders Container -->
      </div>
</body>
</html>
