<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Camera Ceres</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

        .container {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        img {
            max-width: 50%;
            margin-right: 20px;
        }

        .sliders {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        label {
            margin-right: 10px;
        }

        input[type="range"] {
            width: 200px;
        }

        p {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Control Panel Ceres</h1>
    <!-- Botones para control de Arduino -->
    <div>
        <button onclick="sendCommand('HOME')">Homing</button>
        <button onclick="sendCommand('GOTO 0')">Ir a 0</button>
        <button onclick="sendCommand('MOVE +')">Mover +</button>
        <button onclick="sendCommand('MOVE -')">Mover -</button>
        <button onclick="sendCommand('GOTO 1000')">Ir a 1000</button>
        <input type="number" id="manualPosition" placeholder="Ingrese posición">
        <button onclick="sendManualCommand()">Ir a posición</button>
    </div>

    <script>
    function sendCommand(command) {
        fetch("/send_command", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ command: command }),
        }).then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
    }

    function sendManualCommand() {
        var position = document.getElementById('manualPosition').value;
        sendCommand('GOTO ' + position);
    }
    </script>

    <!-- Video Feed and Sliders Container -->
    <div class="container">
        <!-- Video Feed -->
        <img src="{{ url_for('video_feed') }}" alt="Video Feed">

        <!-- Sliders Container -->
        <div class="sliders">
            <div>
                <label for="idRadius">ID Radius (px):</label>
                <input type="range" id="idRadius" min="1" max="100" value="25">
                <p id="idRadiusValue">25</p>
            </div>
            <div>
                <label for="lockRadius">Lock Radius (px):</label>
                <input type="range" id="lockRadius" min="50" max="500" value="100">
                <p id="lockRadiusValue">100</p>
            </div>
            <div>
                <label for="lightLifetime">Light Lifetime (ms):</label>
                <input type="range" id="lightLifetime" min="100" max="1000" value="200">
                <p id="lightLifetimeValue">200</p>
            </div>
            <div>
                <label for="lightThreshold">Light Threshold:</label>
                <input type="range" id="lightThreshold" min="10" max="255" value="200">
                <p id="lightThresholdValue">200</p>
            </div>
            <div>
                <label for="switchFrame">Switch Frame:</label>
                <input type="range" id="switchFrame" min="0" max="1" value="0" step="1">
                <p id="switchFrameValue">0</p>
            </div>
            <div>
                <label for="exposureTime">Exposure Time (us):</label>
                <input type="range" id="exposureTime" min="1" max="100000" value="100">
                <p id="exposureTimeValue">1000</p>
            </div>
            <div>
                <label for="gain">Gain:</label>
                <input type="range" id="gain" min="1.0" max="700.0" value="100.0" step="1.0">
                <p id="gainValue">400.0</p>
            </div>
            <div>
                <label for="trackingEnabled">Tracking Enabled:</label>
                <select id="trackingEnabled">
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>
                <p id="trackingEnabledValue">0</p>
            </div>
        </div>
    </div>

    <!-- Azimuth and Elevation Controls -->
    <div class="container">
        <div>
            <label for="azm">Azimuth:</label>
            <input type="text" id="azm" placeholder="Enter azimuth">
        </div>
        <div>
            <label for="elv">Elevation:</label>
            <input type="text" id="elv" placeholder="Enter elevation">
        </div>
        <button onclick="sendUDP()">Send</button>
    </div>

    <!-- Focus Controls -->
    <div class="container">
        <div>
            <label for="focus">Focus:</label>
            <input type="text" id="foc" placeholder="Enter Focus">
        </div>
        <button onclick="sendFocus()">Send</button>
    </div>

    <script>
    function sendUDP() {
        var azm = document.getElementById('azm').value;
        var elv = document.getElementById('elv').value;
        var data = { azm: azm, elv: elv };

        fetch("/send_udp", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
    }

    function sendFocus() {
        var foc = document.getElementById('foc').value;
        var data = { foc: foc };

        fetch("/send_focus", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }

    function updateControlValue(controlId, displayId) {
        var control = document.getElementById(controlId);
        var controlValueDisplay = document.getElementById(displayId);

        control.addEventListener("input", function() {
            var controlValue = control.value || control.options[control.selectedIndex].value;
            controlValueDisplay.textContent = controlValue;

            fetch("/update_variable", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ id: controlId, value: controlValue }),
            });
        });
    }

    updateControlValue("idRadius", "idRadiusValue");
    updateControlValue("lockRadius", "lockRadiusValue");
    updateControlValue("lightLifetime", "lightLifetimeValue");
    updateControlValue("lightThreshold", "lightThresholdValue");
    updateControlValue("switchFrame", "switchFrameValue");
    updateControlValue("exposureTime", "exposureTimeValue");
    updateControlValue("gain", "gainValue");
    updateControlValue("trackingEnabled", "trackingEnabledValue");

    let lastFocusValue = document.getElementById('foc').value;

    document.getElementById('foc').addEventListener('wheel', function(event) {
        event.preventDefault();
        let currentValue = parseFloat(this.value) || 0;
        let step = event.deltaY < 0 ? 100 : -100;
        currentValue += step;
        this.value = currentValue;
        sendDynamicFocus(currentValue);
    });

    function sendDynamicFocus(value) {
        fetch("/send_focus", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ foc: value }),
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    </script>
</body>
</html>
